body{
    font-family: sans-serif;
}

.code-red code {
    color: green;
}

#assignment-instructions{
    color: mediumaquamarine;
    font-family: sans-serif;
}

code{
    font-family: monospace;
    color: red;
}

.code-red code {
    color: green;
}

li{
    font-family: inherit;
}

li + li {
background: black;
color: white;
}

ol > li {
    background: black;
    color: white;
}
