:root{
    --primary-color: teal;
    --btn-color: blueviolet;
    --text-color: white;
}
#overflow{
    height: 500px;
    width: 500px;
    border: 2px solid cyan;
    overflow: auto;
    margin: 20px;
    resize: horizontal;
    color: var(--text-color);
    background: var(--btn-color);
}
